<%- include('../partials/header') %>

<form id="new-form" action="/catchlog" method="POST">
    <label>Species:</label>
    <input type="text" name="species">
    <label>Weight:</label>
    <input type="text" name="weight">  
    <label>Location:</label>
    <input type="text" name="location">
    <label>Lure:</label>
    <input type="text" name="lure">
    <label>Catch Date:</label>
    <input type="date" name="date">
 








</form>

<%- include('../partials/footer') %>
