<%- include('../partials/header') %>

<form id="new-form" action="/catchlog" method="POST">
  <label>Species:</label>
  <input type="text" name="species" />
  <label>Weight:</label>
  <div id="weight">
    <input type="text" name="weightlb" />
    <select name="weightoz">
      <% for( let i = 0; i < 16; i++ ) { %>
      <option value="<%= i %>"><%= i %></option>
      <% } %>
    </select>
  </div>
  <label>Location:</label>
  <input type="text" name="location" />
  <label>Lure:</label>
  <input type="text" name="lure" />
  <label>Catch Date:</label>
  <input type="date" name="date" />
  <input id="add-catch" type="submit" value="Add Catch" />
</form>

<%- include('../partials/footer') %>
